/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  } */
  
  .encyclopedia-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cdc5d0;
    padding: 20px;
    text-align: center;
    /* background-image: url("mansky.png"); */
  }
  
  .encyclopedia-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .encyclopedia-section {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
    background-image: url("mansky.png");
  }
  
  .encyclopedia-section:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .encyclopedia-section-stars {
    background-size: cover;
    color: #fff;
  }
  
  .encyclopedia-section-planets {
    background-size: cover;
    color: #fff;
  }
  
  .encyclopedia-link {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }
  
  .encyclopedia-link:hover {
    text-decoration: underline;
  }
  
  /* p {
    font-size: 1rem;
    color: #666;
  }
   */