.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
  }
  
  .calendar-wrapper {
    width: 50%; 
    min-width: 300px; 
  }
  
  .selected-date-details {
    margin-top: 20px;
    text-align: center;
    width: 100%;

  }
  