.profile-container {
    font-family: 'Times New Roman', Times, serif;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
  }
  
  .first-part > .profile-container {
    padding: 1px;
    flex: 1;
    /* background-color: aqua; */
    max-height: 200px;
  }
  
  .second-part {
    flex: 3;
    /* background-color: chartreuse; */
  }
  
  .title {
    text-align: center;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .text {
    margin-bottom: 10px;
  }
  
  .button {
    background-color: transparent;
    color: #FFF;
    border: 2px solid #fff;
    border-radius: 20px;
  }
  
  .button:hover {
    background-color: #313232;
  }
  
  .profile-image-container {
    display: flex;
    justify-content: center;
  }
  
  .profile-image {
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
  }
  
  .username {
    text-align: center;
  }
  
  